In [1]:
import pandapower as pp 
import pandapower.plotting as plot
import numpy as np
import pandas as pd
import pandapower.networks as nw
import json

In [2]:
net = nw.pp.create_empty_network() #create an empty net

In [ ]:
### open buses
buses = pd.read_csv('net_bus.csv')
buses=buses.rename(columns={'name':'busID'})
buses

      Unnamed: 0     busID  vn_kv type  zone  in_service         x         y
0              0  42885650  10.60    b   NaN        True  554436.0  146391.0
1              1  42882928  10.60    b   NaN        True  554436.0  146391.0
2              2  42882783  10.60    b   NaN        True  554436.0  146391.0
3              3  52034695  10.60    b   NaN        True  554436.0  146391.0
4              4  42885533  10.60    b   NaN        True  554436.0  146391.0
5              5  42882924  10.60    b   NaN        True  554436.0  146391.0
6              6  42878167  10.60    b   NaN        True  554436.0  146391.0
7              7  42964447  10.60    b   NaN        True  554436.0  146391.0
8              8  42882919  10.60    b   NaN        True  554436.0  146391.0
9              9  42881300  10.60    b   NaN        True  554436.0  146391.0
10            10  42882787  10.60    b   NaN        True  554436.0  146391.0
11            11  42878168  10.60    b   NaN        True  554436.0  146391.0
12            12  52034645  10.60    b   NaN        True  554436.0  146391.0
13            13  42878162  10.60    b   NaN        True  554436.0  146391.0
14            14  42878160  10.60    b   NaN        True  554436.0  146391.0
15            15  42882926  10.60    b   NaN        True  554436.0  146391.0
16            16  42885538  10.60    b   NaN        True  554436.0  146391.0
17            17  42885652  10.60    b   NaN        True  554436.0  146391.0
18            18  42882922  10.60    b   NaN        True  554436.0  146391.0
19            19  42878163  10.60    b   NaN        True  554436.0  146391.0
20            20  42943585  10.60    b   NaN        True  554436.0  146391.0
21            21  42882923  10.60    b   NaN        True  554436.0  146391.0
22            22  42878164  10.60    b   NaN        True  554436.0  146391.0
23            23  42882927  10.60    b   NaN        True  554436.0  146391.0
24            24  42878161  10.60    b   NaN        True  554436.0  146391.0
25            25  42980487  10.60    b   NaN        True  554436.0  146391.0
26            26  52034685  10.60    b   NaN        True  554436.0  146391.0
27            27  42882789  10.60    b   NaN        True  554436.0  146391.0
28            28  42882780  10.60    b   NaN        True  554436.0  146391.0
29            29  42882921  10.60    b   NaN        True  554436.0  146391.0
...          ...       ...    ...  ...   ...         ...       ...       ...
3512        3512  42904372   0.42    b   NaN        True  554113.0  146312.0
3513        3513  42944288   0.42    b   NaN        True  553939.0  145892.0
3514        3514  42875177   0.42    b   NaN        True  553981.0  145938.0
3515        3515  42965388   0.42    b   NaN        True  553981.0  145938.0
3516        3516  42943458   0.42    b   NaN        True  553939.0  145892.0
3517        3517  42965384   0.42    b   NaN        True  553981.0  145938.0
3518        3518  42881440   0.42    b   NaN        True  553981.0  145938.0
3519        3519  42943457   0.42    b   NaN        True  553939.0  145892.0
3520        3520  42943456   0.42    b   NaN        True  553939.0  145892.0
3521        3521  42965386   0.42    b   NaN        True  553981.0  145938.0
3522        3522  42875182   0.42    b   NaN        True  553981.0  145938.0
3523        3523  42875171   0.42    b   NaN        True  553981.0  145938.0
3524        3524  42875173   0.42    b   NaN        True  553981.0  145938.0
3525        3525  42965383   0.42    b   NaN        True  553981.0  145938.0
3526        3526  42980323   0.42    b   NaN        True  553939.0  145892.0
3527        3527  42944287   0.42    b   NaN        True  553914.0  145913.0
3528        3528  42875181   0.42    b   NaN        True  553981.0  145938.0
3529        3529  42965385   0.42    b   NaN        True  553981.0  145938.0
3530        3530  42965387   0.42    b   NaN        True  553981.0  145938.0
3531        3531  42875175   0.42    b   NaN        True  553981.0  145938.0
3532        3532  42944289   0.42    b   NaN        True  553939.0  145892.0
3533        3533  42875176   0.42    b   NaN        True  553981.0  145938.0
3534        3534  42944283   0.42    b   NaN        True  553914.0  145913.0
3535        3535  42980322   0.42    b   NaN        True  553914.0  145913.0
3536        3536  42944285   0.42    b   NaN        True  553914.0  145913.0
3537        3537  42875170   0.42    b   NaN        True  553981.0  145938.0
3538        3538  42965389   0.42    b   NaN        True  553981.0  145938.0
3539        3539  42943455   0.42    b   NaN        True  553939.0  145892.0
3540        3540  42882930   0.42    b   NaN        True  554436.0  146391.0
3541        3541  42882929   0.42    b   NaN        True  554436.0  146391.0

[3542 rows x 8 columns]

In [ ]:
### Nodes/busses creation

for i, row in buses.iterrows():
    pp.create_bus(net, name=row.busID, vn_kv=row.vn_kv, geodata = (row.x,row.y))

In [ ]:
### open lines
lines = pd.read_csv('net_line_v2.csv')
lines

In [ ]:
#with open('line_geodata.json') as json_data:
#    geodata = json.load(json_data)
#geodata = {int(key): value for key, value in geodata.items()}
#geodata

In [ ]:
lines['FromCoordX'] = ""
lines['FromCoordY'] = ""
lines['ToCoordX'] = ""
lines['ToCoordY'] = ""
for x in range(len(lines)):
    lines['coords'][x] = lines['coords'][x].replace('[',' ')
    lines['coords'][x] = lines['coords'][x].replace(']',' ')
    lines['coords'][x] = lines['coords'][x].replace('(',' ')
    lines['coords'][x] = lines['coords'][x].replace(')',' ')
    lines['FromCoordX'][x] = lines['coords'][0].split(',')[0]
    lines['FromCoordY'][x] =lines['coords'][0].split(',')[1]
    lines['ToCoordX'][x] = lines['coords'][0].split(',')[2]
    lines['ToCoordY'][x] = lines['coords'][0].split(',')[3]

In [ ]:
lines['FromCoordX'] = lines['FromCoordX'].astype(float)
lines['FromCoordY'] = lines['FromCoordY'].astype(float)
lines['ToCoordX'] = lines['ToCoordX'].astype(float)
lines['ToCoordY'] = lines['ToCoordY'].astype(float)
lines

In [ ]:
### creating the lines, without low impedance and length cable

for _, line in lines.iterrows():
        from_bus = pp.get_element_index(net, "bus", line.FromNodeID)
        to_bus = pp.get_element_index(net, "bus", line.ToNodeID)
        coord = ([(line.FromCoordX, line.FromCoordY),(line.ToCoordX,line.ToCoordY)])
        pp.create_line_from_parameters(net, from_bus, to_bus, length_km=line.length_km,
                                       r_ohm_per_km = line.r_ohm_per_km, x_ohm_per_km = line.x_ohm_per_km, 
                                       c_nf_per_km =  line.c_nf_per_km, max_i_ka = line.max_i_ka,
                                       name=line.SectionID , parallel=1, type = line.type,
                                       geodata = coord, df = 1 )
        
net.line # 978
net.line_geodata

In [ ]:
### open lines creates as switches, since zero lenth or zero impedance
switches = pd.read_csv('net_switch_v2.csv')
switches = switches.rename(columns={'name':'switchID'})
switches

In [ ]:
### Bus-bus switches

for _, switch_line in switches.iterrows():
    from_bus = pp.get_element_index(net, "bus", switch_line.FromNodeID)
    to_bus = pp.get_element_index(net, "bus", switch_line.ToNodeID)
    pp.create_switch(net, from_bus, to_bus, et=switch_line.et, closed=switch_line.closed,
                     name=switch_line.switchID)
    
net.switch

In [ ]:
### open transformers
trafos = pd.read_csv('net_trafo_v2.csv')
list(trafos)

In [ ]:
for _, trafo in trafos.iterrows():
    hv_bus = pp.get_element_index(net, "bus", trafo.FromNodeID)
    lv_bus = pp.get_element_index(net, "bus", trafo.ToNodeID)
    pp.create_transformer_from_parameters(net,hv_bus, lv_bus,  sn_kva = trafo.sn_kva,
                                          vn_hv_kv = trafo.vn_hv_kv, vn_lv_kv = trafo.vn_lv_kv, vscr_percent = trafo.vscr_percent,
                                          vsc_percent = trafo.vsc_percent, pfe_kw =trafo.pfe_kw , i0_percent = trafo.i0_percent,
                                          shift_degree=trafo.shift_degree, tp_side=trafo.tp_side, tp_mid=trafo.tp_mid,
                                          tp_max=trafo.tp_max, tp_min=trafo.tp_min, tp_st_percent= trafo.tp_st_percent,
                                          tp_st_degree=trafo.tp_st_degree, name=trafo.SectionID, in_service=trafo.in_service)
net.trafo

In [ ]:
### open photovoltaics
pv = pd.read_csv('net_sgen_v2.csv')
pv = pv.rename(columns={'name':'pvID'})
pv

In [ ]:
### creating the pv table for one specific time step

for _,pv_row in pv.iterrows():
    pp.create_sgen(net, pp.get_element_index(net, "bus", pv_row.DeviceNumber), p_kw=pv_row.p_kw,
                   q_kvar=pv_row.q_kvar, sn_kva=pv_row.sn_kva, type=pv_row.type, name=pv_row.pvID)
### show static generator table
#pv_gen
net.sgen

In [ ]:
### open load for one specific time step
loads = pd.read_csv('net_load_v2.csv')
loads = loads.rename(columns={'name':'loadID'})
loads

In [ ]:
for _, load in loads.iterrows():
    bus_idx = pp.get_element_index(net, "bus", load.FromNodeID)
    pp.create_load(net, bus_idx, p_kw = load.p_kw, q_kvar = load.q_kvar , const_z_percent=load.const_z_percent,
                   const_i_percent=load.const_i_percent, name = load.loadID, scaling=load.scaling, in_service=load.in_service)
net.load

In [ ]:
# open external grid connection, created with default value one one random node in the 21 kV grid
ext_grid = pd.read_csv('net_ext_grid.csv')
ext_grid = ext_grid.rename(columns={'name':'ext_gridID'})
ext_grid

In [ ]:
for _, row_ext in ext_grid.iterrows():
    pp.create_ext_grid(net, pp.get_element_index(net, "bus", '42879302'), vm_pu=row_ext.vm_pu, va_degree=row_ext.va_degree, name=row_ext.ext_gridID,
                   s_sc_max_mva=row_ext.s_sc_max_mva, rx_max=row_ext.rx_max, rx_min=row_ext.rx_min)

In [ ]:
pp.runpp(net, max_iteration=10000)

In [ ]:
net.res_line

In [ ]:
net.res_bus

In [ ]:
from pandapower.plotting.plotly import simple_plotly

plot.simple_plot(net, bus_size=0.7, respect_switches = True) # , on_map=True, projection='epsg:'

In [ ]:
cmap_list=[(20, "green"), (50, "yellow"), (60, "red")]
cmap, norm = plot.cmap_continous(cmap_list)
lc = plot.create_line_collection(net, net.line.index, zorder=1, cmap=cmap, norm=norm, linewidths=5)

cmap_list=[(0, "blue"), (1.0, "green"), (1.1, "red")]
cmap, norm = plot.cmap_continous(cmap_list)
bc = plot.create_bus_collection(net, net.bus.index, size=5, zorder=2, cmap=cmap, norm=norm)

#loadc = plot.create_bus_collection(net, net.load.index, size=5, zorder=2, norm=norm)
#pvc = plot.create_bus_collection(net, net.sgen.index, size=5, zorder=1, norm=norm)

plot.draw_collections([lc, bc], figsize=(18,10))