In [1]:
import pandas as pd
import math
import json

In [2]:

with open('network_data/grid_island.json') as json_data:
    grid_islands = json.load(json_data)

#grid_islands = pd.DataFrame.from_dict(grid_islands, orient='columns', dtype=None)


grid = pd.DataFrame.from_dict(grid_islands['9'])
grid = grid.rename(columns = {0:'NodeID'}) 


grid

     NodeID
0  52034625
1  42882929

In [3]:
# Transformer input

transformer = pd.read_csv('network_data/transformer_combined.csv')

transformer = transformer[["SectionID" , "KVA", "KVLLprim", "KVLLsec"]].copy()

transformer[["SectionID"]] = transformer[["SectionID"]].astype(int)
transformer[["SectionID"]] = transformer[["SectionID"]].astype(str) # to get rid of the .0 put keep it as string

transformer

    SectionID    KVA  KVLLprim  KVLLsec FromNodeID  ToNodeID
0    42547360    400      10.6     0.42        NaN       NaN
1    42571987    630      10.6     0.42        NaN       NaN
2    42590298    400      10.6     0.42        NaN       NaN
3    42552624    100      10.6     0.42        NaN       NaN
4    42574167    630      21.0     0.42        NaN       NaN
5   214551743    630      21.0     0.42        NaN       NaN
6    42595956  10000      21.0    10.60        NaN       NaN
7    42613835    630      21.0     0.42        NaN       NaN
8    42571862    630      10.6     0.42        NaN       NaN
9    42574494    630      21.0     0.42        NaN       NaN
10   90147807   1000      21.0     0.42        NaN       NaN
11   42546221   1000      10.6     0.42        NaN       NaN
12   42554475    630      10.6     0.42        NaN       NaN
13   42570745    630      21.0     0.42        NaN       NaN
14   42569691    400      10.6     0.42        NaN       NaN
15   42576832    630      10.6     0.42        NaN       NaN
16   42575964  10000      21.0    10.60        NaN       NaN
17   42601525    400      21.0     0.42        NaN       NaN
18  214659777    400      10.6     0.42        NaN       NaN
19  148913047   1000      21.0     0.42        NaN       NaN
20   42601480    400      21.0     0.42        NaN       NaN
21   42609997    630      21.0     0.42        NaN       NaN
22  214551803    630      21.0     0.42        NaN       NaN
23   42575965  10000      21.0    10.60        NaN       NaN
24   42584798    630      21.0     0.42        NaN       NaN
25   42548089   1000      21.0     0.42        NaN       NaN
26   42566172    630      21.0     0.42        NaN       NaN
27   42593301    630      21.0     0.42        NaN       NaN
28   42562793    630      21.0     0.42        NaN       NaN
29   42570236    400      10.6     0.42        NaN       NaN
30  175588234   1000      21.0     0.42        NaN       NaN
31   42574811    400      21.0     0.42        NaN       NaN
32   42601686    630      21.0     0.42        NaN       NaN
33  160233892    630      10.6     0.42        NaN       NaN
34   42576786    400      10.6     0.42        NaN       NaN
35   42554248    630      21.0     0.42        NaN       NaN
36   42574408    630      21.0     0.42        NaN       NaN
37   42599301    630      21.0     0.42        NaN       NaN
38   52034627  10000      21.0    10.60   52034625  42882928
39   43958419  10000      21.0    10.60   42707766  52034755
40   43961213  10000      21.0    10.60   52086141  52034655

In [4]:
### source equivalent

source_equivalent = pd.read_csv('network_data/source_equivalent.csv')

source_equivalent = source_equivalent[source_equivalent['LoadModelName'] == 'MOYENNE']
source_equivalent = source_equivalent[['NodeID', 'Voltage']].reset_index()

source_equivalent

    index     NodeID  Voltage
0       2  193621144    21.00
1       5   42890827     0.42
2       8   52034725    21.00
3      11   42975166     0.42
4      14   42889208     0.42
5      17   42948116     0.42
6      20   88867752     0.42
7      23   42875734     0.42
8      26  175587451     0.42
9      29  148912587     0.42
10     32   42875845     0.42
11     35   42891767     0.42
12     38   42876125     0.42
13     41   42945681     0.42
14     44   52034655    10.60
15     47   42889321     0.42
16     50   42883584     0.42
17     53   52034755    10.60
18     56   42875416     0.42
19     59   52034745    21.00
20     62   52034665    21.00
21     65   42894973     0.42
22     68   52034735    21.00
23     71  160234671     0.42
24     74   42880286     0.42
25     77   42901741     0.42
26     80   42974480     0.42
27     83   42934360     0.42
28     86   42883118     0.42
29     89   42889984     0.42
30     92   42929482     0.42
31     95   42961049     0.42
32     98   42905655     0.42
33    101  175587419     0.42
34    104   42951843     0.42
35    107   42910658     0.42
36    110   42939436     0.42
37    113  214550791     0.42
38    116   42932846     0.42
39    119   42945680     0.42
40    122  214550910     0.42

In [5]:
grid['NodeID'] = grid['NodeID'].astype(str)
source_equivalent['NodeID'] = source_equivalent['NodeID'].astype(str)

source_grid = source_equivalent[source_equivalent['NodeID'].isin(grid['NodeID'])]

#source_grid.to_csv(r'source_mid_grid.csv', header=True, index=True, mode='a')

In [6]:
### Writing an algo to check the connections 

### Section ###

section_orig = pd.read_csv('../preprocesses/section_data/result_section_better.csv')
#section['SectionID'] ==  
section = section_orig[["SectionID", "FromNodeID", "ToNodeID"]].copy()

#section = section.rename(index=str, columns={"": "", "": ""})

section['SectionID'] = section['SectionID'].astype(str)
section['FromNodeID'] = section['FromNodeID'].astype(str)
section['ToNodeID'] = section['ToNodeID'].astype(str)

section = section[~section['SectionID'].isin(transformer['SectionID'])]
section_2 = section[section['FromNodeID'].isin(grid['NodeID'])]
section_3 = section[section['ToNodeID'].isin(grid['NodeID'])]


frames = [section_2,section_3] 
section_island = pd.concat(frames)

section_island=section_island.drop_duplicates()

section_is = section_island.rename(columns = {'ToNodeID':'NodeID'}) 
section_is = section_is.merge(source_equivalent, on='NodeID')
section_is = section_is.rename(columns = {'NodeID':'ToNodeID'})


section_is_2 = section_island.rename(columns = {'FromNodeID':'NodeID'})
section_is_2 = section_is_2.merge(source_equivalent, on='NodeID')
section_is_2 = section_is_2.rename(columns = {'NodeID':'FromNodeID'})

frames = [section_is,section_is_2] 
section_is = pd.concat(frames)

section_is = section_is.drop_duplicates().reset_index()
section_is = section_is[['SectionID', 'FromNodeID', 'ToNodeID', 'Voltage']]

section_is

Empty DataFrame
Columns: [SectionID, FromNodeID, ToNodeID, Voltage]
Index: []

In [7]:
section_is[section_is['Voltage']==0.42]

Empty DataFrame
Columns: [SectionID, FromNodeID, ToNodeID, Voltage]
Index: []

In [8]:
section_is[section_is['Voltage']==10.60]

Empty DataFrame
Columns: [SectionID, FromNodeID, ToNodeID, Voltage]
Index: []

In [9]:
section_is[section_is['Voltage']==21.00]

Empty DataFrame
Columns: [SectionID, FromNodeID, ToNodeID, Voltage]
Index: []